<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>接口测试</title>
</head>
<body>
    <div style="text-align: center">
        <h2 style="margin-top: 50px">接口库： <span style="color: #ff607c">{{ project.project_name }}</span></h2>
    </div>

    <nav class="navbar navbar-default" role="navigation" style="position: absolute;top: 0;left: 80px;width: -webkit-calc(100% - 200px);z-index: 1">
        <div class="container-fluid">
            <div class="navbar-header">
                <span style="font-size: xx-small" class="navbar-brand">项目名称：{{ project.project_name }}</span>
                <a class="navbar-brand" href="/project_list/">返回项目列表</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/apis/{{ project.id }}">接口库</a></li>
                    <li><a href="/cases/{{ project.id }}">用例库</a></li>
                    <li><a href="/project_set/{{ project.id }}">项目设置</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <br><br>
    <table class="table table-active">
        <thead>
            <tr>
                <th>id</th> <th style="width: 20%">接口名称</th> <th style="width: 20%">接口Host</th> <th style="width: 20%">接口地址</th> <th style="width: auto">请求方式</th><th style="width: auto">操作</th>
            </tr>
        </thead>
        <tbody>
            {% for i in apis %}
                <tr>
                    <td>{{ i.id }}</td> <td>{{ i.api_name }}</td> <td>{{ i.api_host }}</td> <td>{{ i.api_url }}</td> <td>{{ i.api_method }}</td> <td>
                    <button onclick="" class="btn btn-success">调试</button>
                    <button onclick="open_comment('{{ i.id }}')" class="btn btn-info">备注</button>
                    <button class="btn btn-info">复制</button>
                    <button class="btn btn-info">异常值测试</button>
                    <button onclick="document.location.href='/project_api_del/{{ i.id }}/'" class="btn btn-danger">删除</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="comment" style="width: 50%;height: 30%;position: fixed;left: 25%;top: 35%;background-color: #3c4043;box-shadow: 4px 4px 8px grey;display: none">
        <input id="which_api" type="text" style="display: none">
        <textarea name="" id="comment_value" style="width: 100%;height: 80%" placeholder="请输入该接口的备注"></textarea>
        <button onclick="save_comment()" class="btn btn-success" style="width: 49.9%;height: 20%">保存</button>
        <button onclick="cancel_comment()" class="btn btn-danger" style="width: 49.3%;height: 20%">取消</button>
    </div>

    <div id="debug" style="border-radius: 5px;width: 80%;height: 80%;position: fixed;left: 10%;top: 10%;background-color: #3c4043;box-shadow: 4px 4px 8px grey;color: white;padding-left: 10px">
        <div class="btn-group" style="float: right">
            <button class="btn btn-success">保存</button>
            <button class="btn btn-danger">取消</button>
        </div>
        <h3>接口：<small></small><small></small></h3>
        <ul class="nav navbar-nav" style="width: 99%">
            <li>
                <select class="form-control" style="height: 40px">
                    <option value="none">请求方式</option>
                    <option value="post">POST</option>
                    <option value="get">GET</option>
                    <option value="put">PUT</option>
                    <option value="delete">DELETE</option>
                </select>
            </li>
            <li style="width: -webkit-calc(100% - 220px)">
                <input style="color:black;padding-left: 10px;width: 100%;height: 40px" type="text" placeholder="url, 如：/abc/ad/" value="">
            </li>
            <li>
                <button type="button" style="height: 40px;width: 100px;" class="btn btn-default">
                    <span style="font-size: large">send</span>
                </button>
            </li>
        </ul>
        <br><br><br>
        <ul class="nav navbar-nav" style="width: 98%">
            <li style="width: -webkit-calc(100% - 63px)">
                <input style="color:black;padding-left: 10px;width: 100%;height: 40px" type="text" placeholder="host: 如http(s)://www.abc.com" value="">
            </li>
            <li>
                <button type="button" style="height: 40px;width: 60px" class="btn btn-default"><span style="font-size: large">clear</span></button>
            </li>
        </ul>
        <br><br><br>
        <ul class="nav navbar-nav" style="width: 98%">
            <li style="width: -webkit-calc(100% - 63px)">
                <input style="color:black;padding-left: 10px;width: 100%;height: 40px" type="text" placeholder='header请求头，如：{"Content":"application/json"}' value="">
            </li>
            <li>
                <button type="button" style="height: 40px;width: 60px" class="btn btn-default"><span style="font-size: large">clear</span></button>
            </li>
        </ul>
        <br><br><br>
        <ul id="myTab" class="nav nav-tabs">

        </ul>
    </div>

    <div style="position: fixed;bottom: 0;width: 100%;background-color: #f8f8f8;text-align: center;border: 1px solid #e7e7e7">
        <div class="btn btn-group">
            <button type="button" class="btn btn-primary" onclick="document.location.href='/project_api_add/{{ project.id }}/'">新增接口</button>
            <button type="button" class="btn btn-default">全局请求头</button>
            <button type="button" class="btn btn-default">全局域名</button>
            <button type="button" class="btn btn-default">接口文档导入</button>
            <button type="button" class="btn btn-default">抓包导入</button>
            <button type="button" class="btn btn-default">加密算法</button>
            <button type="button" class="btn btn-default">登录态接口</button>
        </div>
    </div> 
    
    <script>
        function open_comment(id) {   //打开评论内容输入栏
            document.getElementById('comment_value').value = '';
            $.get('/get_comment/', {
                'api_id': id,
            }, function (ret){
                document.getElementById('comment').style.display = 'block';
                document.getElementById('which_api').value = id;
                document.getElementById('comment_value').value = ret;
            })
        }
        function cancel_comment() {  //取消评论
            document.getElementById('comment').style.display = 'none';
        }
        function save_comment() {  //保存评论
            let id = document.getElementById('which_api').value;
            let comment_value = document.getElementById('comment_value').value;
            $.get('/save_comment/', {
                'api_id': id,
                'comment_value': comment_value
            }, function (ret){
                document.getElementById('comment').style.display = 'none'
            })
        }
    </script>
</body>
</html>